<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>write page</h1>
        <form method="post" action="/board/write">
            <input type="hidden" name="" id="" />
            <ul>
                <li>제목 : <input type="text" name="title" /></li>
                <li>작성자 : <input type="text" name="writer" id="" /></li>
                <li>내용: <textarea name="content" id="" cols="30" rows="10"></textarea></li>
            </ul>
            <button type="submit">작성</button>
        </form>
    </body>
</html>
